@if (error()) {
  <div class="flex flex-col items-center justify-center py-24 text-center text-[#7c2d12]">
    <h2 class="text-2xl sm:text-3xl font-bold mb-2">Oops! Something went wrong</h2>

    <p class="text-gray-500 text-sm mb-4 max-w-md">
      {{ 'An unexpected error occurred while loading the content. Please try again later.' }}
    </p>
    <p class="text-gray-500 text-sm mb-4 max-w-md">
      {{ error() }}
    </p>
    
    <button
      (click)="reloadPage()"
      class=" cursor-pointer px-5 py-2 rounded-xl bg-[#be8c62] text-white hover:bg-[#a9764f] transition"
    >
      Try Again
    </button>
  </div>
}@else {
  
<div class="max-w-7xl mx-auto parent text-maintext  grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3.5 px-2 my-5 ">
    @for (catergory of myCategories; track $index) {
         <div class="p-2 group">
            <div
            [routerLink]="['/catergory-details',catergory]"
            class= "h-[300px]  flex justify-center items-center center rounded-xl overflow-hidden shadow-md hover:shadow-xl cursor-pointer transform group-hover:scale-105 transition-[shadow_transform] duration-300 bg-mainBg dark:bg-[#ceb991]  dark:text-[#f9fbfc]">
              
              
                <h4 class=" capitalize text-2xl ">
                  {{catergory}}
                </h4>
             
            </div>
          </div>
    }
</div>
}
