/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

.dark body {
    @apply bg-maintext;
}
@theme{
  /* --color-mainColor:#EFA19E; */
  --color-mainBg:#FAF6F3;
  --color-maintext:#b39b6e;
  --color-hoverColor:#B4D6F1;
  --color-buttonbg:#be8c62;
}

@font-face {
  font-family: 'Caveat';
  src: url('assets/fonts/Caveat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/Outfit-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
}


body{
  background-color: #faf6f3;
  font-family:Outfit;
  font-weight: 600;
 

}
.swal-success {
  
   width: 280px;
  background-color: #F8EAE9;
  color: #7c4947;
  font-weight: 500;
 --swal2-html-container-padding: 18px 8px  5.4px;
  border-radius: 8px;
}

.swal-error {
   width: 280px;
  background-color: #F8EAE9;
  color: #7f1d1d;
 --swal2-html-container-padding: 18px 8px  5.4px;
  border-radius: 8px;
}
.logo{
    font-family: Caveat;
   
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

